<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/index.css">
</head>
<body>
<!-- Header -->
	<nav th:fragment="nav"
		class="navbar navbar-expand-lg navbar-light bg-primary">
		<a class="navbar-brand" href="/"> <img src="images/intrologo.jpg"
			alt="IntroBarber Logo" height="50">
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNav" aria-controls="navbarNav"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item"><a class="nav-link h6" href="/">Home</a></li>
				<li class="nav-item" ><a class="nav-link h6"
					href="/indexPrenotazione">Prenota</a></li>
					
				<li class="nav-item" th:if="${userDetails}"> <span class="nav-link h6">|</span></li>
				<li class="nav-item" th:if="${userDetails}">
				<a class="nav-link h6" href="#" th:text="${userDetails.username}">NomeUtente</a>
				</li>
				<li class="nav-item" th:if="${userDetails}">
				<a class="nav-link h6" href="/logout">Logout</a></li>	
				<li th:unless="${userDetails}" class="nav-item">
				<a class="nav-link h6" href="/login">Accedi</a></li>
			</ul>
		</div>
	</nav>


<!-- footer -->
	<footer th:fragment="footer" class="footer text-center">
		<div class="container">
			<p class="mb-0">© 2024 IntroBarber. Tutti i diritti riservati.</p>
			<p>
				<a href="mailto:info@introbarber.com">info@introbarber.com</a> | <a
					href="tel:+391234567890">+39 123 456 7890</a> | <a href="#">Privacy Policy</a>
			</p>
		</div>
	</footer>

</body>
</html>