<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Index-Prenotazione</title>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="/css/index.css">
</head>
<body>
	<!-- Header -->
	<nav th:replace="fragments/base.html :: nav"></nav>

	<div class="container main-content mt-2 mb-3">
		<div class="row justify-content-center">
			<div class="col-md-8">
				<div class="highlight">
					<h2 class="text-center text-primary display-4 bold"
						th:text=" 'Benvenuto'+' '+${user.nome} + ' ' + ${user.cognome}">Benvenuto</h2>
					<p class="text-center lead">Prenota subito, è facile e veloce!</p>
				</div>
			</div>
		</div>
	</div>

<!-- tabella prenotazioni -->
	<div class="container mt-5">
		<h2 class="mb-4">Le tue Prenotazioni</h2>
		<table class="table table-bordered table-custom-header">
			<thead class="bg-primary text-white">
				<tr>
					<th scope="col">Giorno</th>
					<th scope="col">Ora</th>
					<th scope="col">Servizio</th>
					<th scope="col">Operatore</th>
					<th scope="col">Azione</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="pren: ${prenotazioni}">
					<td th:text="${pren.orario.toLocalDate()}" ></td>
					<td th:text="${pren.orario.toLocalTime()}"></td>
					<td th:text="${pren.servizio.nome}"></td>
					<td th:text="${pren.operatore.nome} + ' ' + ${pren.operatore.cognome}"></td>
					<td>
						<a th:href="@{'/disdiciPrenotazione/' + ${pren.id}}">
						<button type="button" class="btn btn-danger btn-sm">Disdici</button>
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

<!-- effettua prenotazione -->
	<div class="container mt-5">
		<h2 class="mb-4">Effettua una Prenotazione</h2>
		<form th:action="@{/indexPrenotazione}" method="post">
			<div class="form-group">
				<label for="operator">Operatore</label> <select class="form-control"
					id="operator" name="IdOperatore" required>
					<option value="">Seleziona operatore</option>
					<option th:each="operatore: ${operatori}" th:value="${operatore.id}"
						th:text="${operatore.nome} + ' ' + ${operatore.cognome}"></option>
				</select>
			</div>
			<div class="form-group">
				<label for="service">Tipo di Servizio</label> <select
					class="form-control" id="service" name="IdServizio" required>
					<option value="">Seleziona servizio</option>
					<option th:each="servizio: ${servizi}" th:value="${servizio.id}"
						th:text="${servizio.nome}"></option>
				</select>
			</div>
            <div class="form-group">
                <label for="date-select">Seleziona una data:</label>
                <input type="date" id="date-select" class="form-control" 
                		name="dataPren" required>
            </div>
			<div class="form-group">
			<label for="time">Orario</label> 
			<select class="form-control" id="time" name="orarioPren" required>
					<option value="">Seleziona orario</option>
					<option value="08:00">08:00</option>
				<option value="09:00">09:00</option>
				<option value="10:00">10:00</option>
				<option value="11:00">11:00</option>
				<option value="12:00">12:00</option>
				<option value="13:00">13:00</option>
				<option value="14:00">14:00</option>
				<option value="15:00">15:00</option>
				<option value="16:00">16:00</option>
				<option value="17:00">17:00</option>
				<option value="18:00">18:00</option>
				<option value="19:00">19:00</option>
				</select>
				
				<span th:if="${#fields.hasErrors('prenotazione.orario')}"
					th:errors="${prenotazione.orario}" th:style="'color:red'"></span>
			</div>
			<button type="submit" class="btn btn-primary px-5 mb-5">Prenota</button>
		</form>
	</div>

	<!-- Footer -->
	<footer th:replace="fragments/base.html :: footer"></footer>
	
 <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#date-select').on('input', function() {
                var inputDate = new Date(this.value);
                var day = inputDate.getUTCDay();
                // Giorni: 0 = Domenica, 1 = Lunedì, ..., 6 = Sabato
                if (day === 0 || day === 6) {
                    alert("Per favore seleziona un giorno tra lunedì e venerdì.");
                    this.value = '';
                }
            });
        });
    </script>
</body>
</html>