<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registrazione Completata</title>
  <link rel="stylesheet" href="/css/reg.css">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h3 class="text-center">Registrazione Completata</h3>
          </div>
          <div class="card-body">
            <p class="text-center">La tua registrazione è avvenuta con successo!</p>
            <p class="text-center">Ecco i dati che hai inserito:</p>
            <ul class="list-group">
              <li class="list-group-item">Username: <strong id="username"></strong></li>
              <li class="list-group-item">Email: <strong id="email"></strong></li>
            </ul>
            <div class="text-center mt-4">
              <a href="index.html" class="btn btn-primary">Torna alla Home</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
