@charset "UTF-8";

.main {
	font-size: 16px;
	background-color: #f8f9fa; /* sfondo  grigio */
	padding-bottom: 50px;
}

.card {
	border: 2px solid #007bb5;
	/* Bordo solido blu azzurro con spessore 2px */
	padding: 20px;
	border-radius: 8px;
	box-shadow: rgba(0, 123, 181, 0.5);
}

.card-body h2 {
	font-weight: normal;
	margin-bottom: 20px;
	color: #007bb5; .
	for border-top-right-radius: 15px;
	/* Arrotondamento solo in alto a destra */
}

.carm-control {
	border-radius: 10px;
}

.btn-primary {
	border-radius: 10px; 
}