@charset "UTF-8";

body {
	background-color: #f8f9fa;
	font-size: 14px; 
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

.navbar {
	background-color: #007bff;
}

.navbar-brand {
	padding: 0;
}

.navbar-brand img {
	max-height: 60px; /* Altezza massima dell'immagine del logo */
	border: none; 
}

.navbar-brand, .nav-link {
	color: #fff !important;
}

.navbar-toggler {
	border: none; 
}

.navbar-nav.nav-item {
	font-size: small;
	/* Riduce la dimensione del font del menu di navigazione */
}

.carousel-item img {
	height: 65vh;
	object-fit: cover;
}

.carousel-caption {
	background: rgba(0, 0, 0, 0.5);
	padding: 15px;
	border-radius: 10px;
}

.main-content {
	padding: 40px 0;
}

.footer {
	background-color: #007bff;
	color: #fff;
	padding: 10px;
}

.footer a {
	color: #fff;
}

.display-4 {
	font-size: 2.5rem;
}

.lead {
	font-size: 1.25rem;
}

.btn-lg {
	font-size: 0.875rem;
}