@charset "UTF-8";
 body {
            background-color: #f8f9fa;
            font-size: 16px; /* Impostazione della dimensione di base del font */
        }
        h1, h2, h3, h4, h5, h6 {
            font-weight: bold;
        }
        .navbar {
            background-color: #007bff;
        }
        .navbar-brand {
            padding: 0;
        }
        .navbar-brand img {
            height: 70px;
            border: none; /* Rimuove il bordo attorno all'immagine */
        }
        .navbar-brand, .nav-link {
            color: #fff !important;
        }
        .navbar-toggler {
            border: none; /* Rimuove il bordo del toggle button */
        }
        .navbar-brand, .nav-link {
            color: #fff !important;
        }
        .navbar-nav.nav-item{
            font-size: medium;
        }
        .carousel-item img {
            height: 60vh;
            object-fit: cover;
        }
        .carousel-caption {
            background: rgba(0, 0, 0, 0.5);
            padding: 20px;
            border-radius: 10px;
        }
        .main-content {
            padding: 40px 0;
        }
        .footer {
            background-color: #007bff;
            color: #fff;
            padding: 20px 0;
        }
        .footer a {
            color: #fff;
        }
