@charset "UTF-8";

.card-container {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem; /*spazio tra righe e colonne */
}

.card {
	flex: 1 1 calc(33.333% - 1rem);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.btn-edit {
	align-self: flex-end;
}