@charset "UTF-8";

body {
	background-color: #f8f9fa; /* Colore di sfondo leggermente grigio */
}

.card1 {
	font-family: Arial, sans-serif;
	border: 2px solid #007bb5;
	/* Bordo solido blu azzurro con spessore 2px */
	box-shadow: rgba(0, 123, 181, 0.5);
	margin-top: 40px;
	border-radius: 15px; /* Bordi arrotondati per la card */
}

.card-header {
	background-color: white; /* Colore di sfondo dell'intestazione */
	color: #007bff; /* Testo bianco */
	border-top-left-radius: 15px;
	/* Arrotondamento solo in alto a sinistra */
	border-top-right-radius: 15px;
	/* Arrotondamento solo in alto a destra */
}

.card-body {
	padding: 2rem; /* Padding interno */
}

.list-group-item {
	border: none; /* Rimuove il bordo dai list item */
}

.btn-primary {
	border-radius: 10px; /* Bordi arrotondati per il bottone */
}