@charset "UTF-8";

body {
	background-color: #f8f9fa; /* sfondo grigio */
}

.card1 {
	font-family: Arial, sans-serif;
	border: 2px solid #007bb5;
	box-shadow: rgba(0, 123, 181, 0.5);
	margin-top: 40px;
	border-radius: 15px; 
}

.card-header {
	background-color: white; 
	color: #007bff; 
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.card-body {
	padding: 2rem;
}

.list-group-item {
	border: none; 
}

.btn-primary {
	border-radius: 10px;
}